#app_bot\requirements.txt
aiogram
httpx
openai
pathspec
protobuf
pydantic
pydantic_settings
pyproj
SQLAlchemy
aiosqlite
# построение зависимостей: pipreqs ./app_bot --encoding utf-8 --force --savepath ./requirements.txt